<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Gênero</h3>
      </header>
      <div class="content">
        <form id="form-genero" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">Nome do Gênero</label>
              <input id="id" value="<%=genero.nome%>" name="nome" type="text" placeholder="Ex:pop" required>
            </div>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>